.how_it_works {
    padding: 150px 0;
}

.how_it_works_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how_it_works_content h1 {
    font-size: 40px;
}

.how_it_works_info {
    background-color: rgba(26,26,26,0.26);
    width: 100%;
    border-radius: 10px;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 400px;
}

.how_it_works_items li {
    margin: 20px 0;
    cursor: pointer;
}

.how_it_works_items li svg path{
    stroke: #FFFFFF;
    transition: all 0.3s ease;
}

.how_it_works_items li svg circle{
    stroke: #FFFFFF;
    transition: all 0.3s ease;
}

.how_it_works_items li svg:hover path{
    stroke: #55FE66;
    transition: all 0.3s ease;
}

.how_it_works_items li svg:hover circle{
    stroke: #55FE66;
    transition: all 0.3s ease;
}

.how_it_works_items  {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.how_it_works_info_img img {
    max-height: 600px;
}

.how_it_works_info_text h2 {
    font-size: 36px;
    font-weight: 800;
}

.how_it_works_info_text p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
}


.how_it_works_info_text button {
    margin-top: 50px;
}

.how_it_works_iphone_online {
    display: none;
}

@media (max-width: 900px) {
    .how_it_works_info_img img {
        max-height: 500px;
    }
    .how_it_works_info_text {
        margin-left: 20px;
    }
    .how_it_works_info {
        margin-top: 150px;
    }
}

@media (max-width: 840px) {
    .how_it_works_info_img img {
        max-height: 450px;
    }
    .how_it_works_info_text p {
        font-size: 20px;
    }
    .how_it_works_info {
        margin-top: 100px;
    }
}

@media (max-width: 745px) {
    .how_it_works_info_img {
        display: none;
    }
    .how_it_works_info {
        justify-content: start;
    }
    .how_it_works_info_text {
        margin-left: 15%;
    }
    .how_it_works_info_text p {
        font-size: 24px;
    }
    .how_it_works_iphone_online {
        display: block;
        margin-top: 50px;
    }
    .how_it_works {
        padding: 100px 0;
    }

}

@media (max-width: 460px) {
    .how_it_works_info_text {
        margin-left: 10%;
    }
}

@media (max-width: 426px) {
    .how_it_works_info_text p {
        font-size: 20px;
    }
    .how_it_works {
        padding: 50px 0;
    }
    .how_it_works_iphone_online {
        margin-left: 10px;
    }
    .how_it_works_iphone_online {
        max-height: 500px;
    }
}
