
.investments {
    z-index: 20;
    position: relative;
    background-color: rgba(26,26,26,0.26);
    width: 100%;
    overflow: hidden;
}

.investments_content {
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.investments_content_info h1 {
    font-size: 36px;
    line-height: 55px;
}

.investments_content_info_titles {
    margin-left: 10px;
}

.investments_content_info h1 span{
    color: #55FE66;
}

.investments_content_info_titles {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.investments_items {
    margin-top: 60px;
}

.investments_items li{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.investments_items li p{
    margin-left: 20px;
}

.investments_content_info {
    width: 50%;
}

.investments_content_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.investments_content_img_circle {
    width: 214px;
    height: 214px;
    background-color: #55FE66;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 11.999999046325684px #55FE66) drop-shadow(0px 0px 20.999998092651367px #55FE66) drop-shadow(0px 0px 30.99999237060547px #55FE66) drop-shadow(0px 0px 30.99998474121094px #55FE66) drop-shadow(0px 0px 60px #55FE66) drop-shadow(0px 0px 150.9999694824219px #55FE66);
    position: absolute;
}

.investments_content_img_cirlce {
    position: absolute;
}

.investments_content_img img:nth-child(2) {
    z-index: 20;
}

.investments_content_img {
    margin-left: 20%;
}

.investments_content_info_titles h1{
   white-space: nowrap;
}

@media (max-width: 1160px) {
    .investments_content_img_iphone {
        height: 600px;
    }
    .investments_content_img {
        margin-right: 20px;
    }
    .investments_content_img {
        margin-left: 10%;
    }
}

@media (max-width: 980px) {
    .investments_content_img_iphone {
        height: 500px;
    }
    .investments_content_img_cirlce {
        height: 800px;
    }
}

@media (max-width: 888px) {
    .investments_content_img {
        margin-left: 5%;
    }
}

@media (max-width: 830px) {
    .investments_content {
        flex-direction: column;
    }
    .investments_content_info {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .investments_content_info_titles {
        margin: 0 10px;
        align-items: center;
    }
    .investments_content {
        padding: 100px 0;
    }
    .investments_content_img {
        margin: 0;
    }
}

@media (max-width: 426px) {
    .investments_content {
        padding: 50px 0;
    }
    .investments_items {
        margin-top: 50px;
    }
}

@media (max-width: 410px) {
    .investments_content_info_titles h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .investments_items li p {
        margin-left: 10px;
    }
}

@media (max-width: 400px) {
    .investments_content_img_iphone {
        height: 420px;
    }
}