nav {
    background-color: #000;
}

.nav_icon {
    margin: 0 10px;
}

.nav_items {
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.nav_items li{
    margin: 0 10px;
}

.nav_items li a{
    color: white;
    transition: all 0.3s ease;
}


.nav_items li a:hover{
    color: #55FE66;
    transition: all 0.3s ease;
}


.nav_content button {
    margin: 0 10px;
}


.burger {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    display: none;
    cursor: pointer;
}

.burger {
    user-select: none;
}



.burger_menu_items {
    width: 100%;
}

.burger_menu li{
    margin: 40px 0;
    font-size: 20px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 30px;
    width: 100%;
}


.burger .line {
    height: 4px;
    width: 100%;
    border-radius: 3px;
    background-color: #FFFFFF;

}

.burger .line.first {
    transform: rotate(0) translate(0);
    transition: all 0.3s ease;
}

.burger .line.third {
    transform: rotate(0) translate(0);
    transition: all 0.3s ease;
}


.burger.active .line.first {
    transform: rotate(45deg) translate(20px, 0px);
    transition: all 0.3s ease;
}

.burger.active .line.third {
    transform: rotate(-45deg) translate(19px);
    transition: all 0.3s ease;
}

.burger.active {
    transform: translate(-14px);
}

.burger .line.second {
    opacity: 1;
    transition: all 0.3s ease;
}

.burger.active .line.second {
    opacity: 0;
    transition: all 0.3s ease;
}

@media (max-width: 1000px) {
    .nav_items {
        width: 50%;
    }
}


.burger_menu {
    position: absolute;
    background-color: black;
    width: 60%;
    height: 100%;
    z-index: 40;
    justify-content: center;
    text-align: center;
    top: -708px;
    display: none;
    right: 0;
    border-radius: 4px;
    transition: all 0.3s ease;

}

.burger_menu.active {
    top: 78px;
    transition: all 0.3s ease;
}


@media (max-width: 620px) {
    .nav_items {
        display: none;
    }
    .nav_content button {
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .burger_menu {
        display: flex;
    }
}

@media (max-width: 426px) {
    .burger_menu {
        width: 80%;
    }
}